@model domain.Models.domain_u

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Domain</h6>

                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0">
                    <h3 style="font-size:17px; border-bottom : 2px solid #5E72E4;">Domain Name</h3>
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.domain_name)
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0">
                    <h3 style="font-size:17px; border-bottom : 2px solid #5E72E4;">User Name</h3>
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.user.username)
                </div>
            </div>
        </div>
    </div>

</div>
<br />
<br />
<br />
<br />
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <a href="@Url.Action("Edit","domain_u", new { id = Model.domain_id })" class="btn btn-sm btn-dark">Edit</a> |
                    <a href="@Url.Action("Index","domain_u")" class="btn btn-sm btn-dark">Back To Index</a>
                </div>
            </div>
        </div>
    </div>

</div>
